<div class="grid grid-cols-3 gap-4">
    <button id="openModalReporteGeneral"     class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/chart') %>
        <span class="ml-2">Reporte Stock General Hospital</span>
    </button>
    
    <button id="openModalRopaServicios"  class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/clipboard') %>
        <span class="ml-2">Reporte de Ropa en Unidad Sigcom</span>
    </button>

    <button id="openModalRopaBajaServicios"  class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/clipboard') %>
        <span class="ml-2">Reporte de Ropa de Baja en Unidad Sigcom</span>
    </button>
    
    <button id="openModalRopaSuciaRoperia"  class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/arrow_path') %>
        <span class="ml-2">Reporte de Stock de Ropa Sucia en Ropería</span>
    </button>
    
    <button id="openModalRopaTransito"  class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/clipboard_document') %>
        <span class="ml-2">Reporte en Tránsito</span>
    </button>

    <button id="openModalRopaBaja"  class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/presentation_chart') %>
        <span class="ml-2">Reporte de Bajas y Pérdidas del mes</span>
    </button>

    <button id="openModalReportesFecha"     class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/calendar') %>
        <span class="ml-2">Reportes generales por mes y año</span>
    </button>

    <button id="openModalReportesFechaUnidad"     class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/calendar') %>
        <span class="ml-2">Reportes de Unidad Sigcom por mes y año</span>
    </button>
</div>


<div id="grid" class="ag-theme-quartz h-4/6 max-w-screen mt-3 md:text-lg"></div>


