<div class="grid grid-cols-2 gap-4">
    
    <button id="openModalReporteGeneral" onclick="toggleModal('#modal_stock_general','#openModalReporteGeneral','#closeModalReporteGeneral')" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/chart') %>
        <span class="ml-2">Reporte Stock General Hospital</span>
    </button>
    
    <button id="openModalRopaServicios" onclick="toggleModal('#modal_ropa_servicios','#openModalRopaServicios','#closeModalRopaServicios')" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/clipboard') %>
        <span class="ml-2">Reporte de Ropa en Servicios</span>
    </button>
    
    <button id="openModalRopaSuciaRoperia" onclick="toggleModal('#modal_ropa_sucia_roperia','#openModalRopaSuciaRoperia','#closeModalRopaSuciaRoperia')" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/arrow_path') %>
        <span class="ml-2">Reporte de Stock de Ropa Sucia en Ropería</span>
    </button>
    
    <button id="openModalRopaTransito" onclick="toggleModal('#modal_ropa_transito','#openModalRopaTransito','#closeModalRopatransito')" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/clipboard_document') %>
        <span class="ml-2">Reporte en Tránsito</span>
    </button>

    <button id="openModalRopaBaja" onclick="toggleModal('#modal_ropa_baja','#openModalRopaBaja','#closeModalRopaBaja')" class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/presentation_chart') %>
        <span class="ml-2">Reporte de Bajas y Pérdidas del mes</span>
    </button>

    <button class="flex items-center p-4 bg-white rounded shadow hover:bg-gray-200 transition duration-300">
        <%- include('../../icons/document_download') %>
        <span class="ml-2">Descarga de Reportes</span>
    </button>    
</div>


