<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden opacity-0 transition-opacity duration-300 overflow-y-auto" id="recibir_ropa_sucia_modal">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-3xl w-full transform scale-95 transition-transform duration-300 max-h-2xl">
        <h2 class="text-2xl font-bold mb-6 text-center">Recibir ropa sucia desde servicios</h2>
        <form id="recibir_ropa_sucia_form" class="flex flex-col h-full">
            <div class="mb-4">
                <label for="rut_usuario_1" class="block text-sm font-medium text-gray-700">Usuario que recibe:</label>
                <input type="text" name="rut_usuario_1" required disabled value=<%- rutLogueado %> class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div class="mb-4">
                <label for="rut_usuario_2" class="block text-sm font-medium text-gray-700">Usuario que realiza la entrega:</label>
                <select name="rut_usuario_2" class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <% usuarios.forEach(u => { %>
                        <option value="<%= u.rut_usuario %>"><%= u.nombre %></option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-4">
                <label for="unidad_sigcom" class="block text-sm font-medium text-gray-700">Unidad Sigcom:</label>
                <select id="unidad_sigcom_db" name="unidad_sigcom" class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <% unidades_sigcom.forEach(u => { %>
                        <option value="<%= u.id_unidad_sigcom %>"><%= u.unidad_sigcom %></option>
                    <% }) %>
                </select>
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-800" onclick="addArticuloRecibirRopaSucia()">Añadir artículo</button>
            </div>
            <div id="recibir_ropa_sucia_container" class="flex-grow overflow-y-auto mt-4 border-t border-gray-200 pt-4" style="max-height: 27rem;">
                <!-- Rows will be added here dynamically -->
            </div>
            <div class="flex justify-between mt-6">
                <button type="button" class="bg-red-500 text-white p-2 rounded hover:bg-red-800" id="closeRecibirRopaSucia">Cancelar</button>
                <button type="submit" class="bg-green-500 text-white p-2 rounded hover:bg-green-800">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>