<%- include('../components/modals/patients/addPatientModal') %>
<!-- Secciones de navegación -->
<!-- Botón para alternar la visibilidad de las unidades -->
<!-- Contenedor del overlay (cubrirá toda la pantalla) -->
<div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40" onclick="closeSidebar()"></div>

<!-- Contenedor del sidebar -->
<div id="sidebarUnits" class="fixed right-0 top-0 w-80 h-full bg-white shadow-xl transform translate-x-full transition-transform duration-300 ease-in-out z-50">
    <div class="p-4 border-b flex justify-between items-center">
        <h2 class="text-lg font-bold text-gray-700">Unidades</h2>
        <button onclick="closeSidebar()" class="text-gray-700 hover:text-red-600">
            &times; <!-- Icono de cerrar -->
        </button>
    </div>
    <!-- Contenedor de las unidades con scroll -->
    <div class="p-4 overflow-y-auto h-[calc(100%-4rem)]">
        <% unidades.forEach(unidad => { %>
            <label class="block px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded my-1"
               onclick="filterByUnit('<%= unidad.IdTipoUnidad %>')">
               <%= unidad.DescTipoUnidad %>
        </label>
        <% }) %>
    </div>
</div>

<!-- Barra de búsqueda y agregar paciente -->
<div class="flex justify-around items-center p-4 bg-gray-200 ">
    <div class="flex items-center space-x-2">
        <button id="addPatient" class="p-2 bg-indigo-500 text-white rounded-full hover:shadow-lg flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            <span class="text-md">Ingresar Paciente</span>
        </button>

    </div>
    <!-- Buscador de Pacientes por nombre-->
    <div class="w-full max-w-lg">
        <form onsubmit="searchByName(event)" class="flex items-center">
            <input type="text" id="searchQuery" placeholder="Buscar pacientes..." required
                class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
                aria-label="Buscar">
            <button type="submit"
                class="bg-indigo-500 text-white px-4 py-2 rounded-r-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                Buscar
            </button>
        </form>
    </div>
    
    <!-- Buscador de Pacientes por Rut-->
    <div class="flex items-center space-x-2">
        <input type="text" id="rutInput" placeholder="11111111-1"
            class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500"
            oninput="formatRut(this)">
        <button class="p-2 bg-indigo-500 rounded-full text-white" onclick="searchByRut()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 12h.01M12 12h.01M16 12h.01M9 16h6M9 8h6M12 5v14m8-7H4" />
            </svg>
        </button>
    </div>
</div>
<div class="flex justify-end items-center p-4 mr-8">

    <button onclick="openSidebar()" class="bg-blue-600 text-white px-4 py-2 rounded">
        Filtrar por Unidades
    </button>
</div>
<!-- Contenedor de pacientes -->
<div id="cardGridPacientes" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5 p-6">
    <% pacientes.forEach(paciente => { %>
        <div class="bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1" data-unidad="<%= paciente.IdTipoUnidad %>"
            onclick='openModal(<%= JSON.stringify(paciente) %>)'>
            <h2 class="text-gray-800 font-bold text-xl mb-2">
                <%= paciente.NombreHospitalizado %>
            </h2>
            <span id="rutSpan">
                <%= paciente.RutHospitalizado %>-<%= paciente.DvHospitalizado %>
            </span>
            <p class="text-gray-600">Edad: <%= paciente.edad %></p>
            <p class="text-gray-600">Régimen: <%= paciente.TipoRegimen.DescTipoRegimen %></p>
        </div>
    <% }) %>
</div>

<!-- Modal para mostrar información del paciente -->
<%- include('../components/modals/patients/infoPatientModal') %>


<script src="/js/patient/infoModal.js" defer></script>
<script src="/js/patient/openModal.js" defer></script>

<script>
function openSidebar() {
    const sidebar = document.getElementById('sidebarUnits');
    const overlay = document.getElementById('overlay');
    sidebar.classList.remove('translate-x-full');
    sidebar.classList.add('translate-x-0');
    overlay.classList.remove('hidden');
    overlay.classList.add('block');
}

function closeSidebar() {
    const sidebar = document.getElementById('sidebarUnits');
    const overlay = document.getElementById('overlay');
    sidebar.classList.remove('translate-x-0');
    sidebar.classList.add('translate-x-full');
    overlay.classList.remove('block');
    overlay.classList.add('hidden');
}


</script>
