<div style="z-index: 1;" id="modal_crear_usuario"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden opacity-0 transition-opacity duration-300">
    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-3xl w-full max-h-screen overflow-y-auto mt-4">
        <h2 class="text-2xl font-bold mb-6 text-center text-black">Crear Usuario</h2>
        <form id="formCrearEmpleado" action="/food-manager/employee/create-empleado" method="POST">
            <div class="mb-4 flex">
                <div class="flex-1 mr-2">
                    <label for="rut_usuario" class="block text-black mb-2">RUT Usuario</label>
                    <input type="text" id="rut_usuario" name="RutCompleto" class="w-full p-2 border rounded"
                        placeholder="Ingrese RUT (ej. 12345678-9)" required>
                </div>
            </div>
            <div class="mb-4">
                <label for="nombre" class="block text-black mb-2">Nombre</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" class="w-full p-2 border rounded"
                    placeholder="Ingrese Nombre" required>
            </div>
            <div class="mb-4 flex gap-2 w-full">
                <div class="flex-1">
                    <label for="nombre" class="block text-black mb-2">Fecha Inicio Contrato</label>
                    <input type="date" id="fechaInicioContrato" name="FechaInicioContrato" class="w-full p-2 border rounded" required></div>

                <div class="flex-1">
                    <label for="nombre" class="block text-black mb-2">Fecha Termino Contrato</label>
                    <input type="date" id="fechaTerminoContrato" name="FechaTerminoContrato" class="w-full p-2 border rounded">
                </div>
            </div>
            <div class="mb-4 grid grid-cols-3 gap-2">
                <div>
                    <label class="block text-black mb-2">Servicio</label>
                    <select class="w-full p-2 border rounded" name="tipoServicio" required>
                        <option value="">Seleccione un servicio</option>
                        <% servicios.forEach(servicio=> { %>
                            <option value="<%=servicio.IdTipoServicio%>">
                                <%=servicio.DescTipoServicio%>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                    <label class="block text-black mb-2">Tipo Contrato</label>
                    <select class="w-full p-2 border rounded" name="tipoContrato" required>
                        <option value="">Seleccione un tipo de contrato</option>
                        <% contrato.forEach(contratos=> { %>
                            <option value="<%=contratos.IdTipoContrato%>">
                                <%=contratos.TipoContrato%>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                    <label class="block text-black mb-2">Unidad SIGCOM</label>
                    <select class="w-full p-2 border rounded" name="tipoUnidad" required>
                        <option value="">Seleccione una unidad</option>
                        <% unidades.forEach(unidad=> { %>
                            <option value="<%=unidad.IdTipoUnidad%>">
                                <%=unidad.DescTipoUnidad%>
                            </option>
                            <% }) %>
                    </select>
                </div>
            </div>
            <div class="mb-4 grid grid-cols-2 gap-2">
                <div>
                    <label class="block text-black mb-2">Estamento</label>
                    <select class="w-full p-2 border rounded" name="tipoEstamento" required>
                        <option value="">Seleccione un estamento</option>
                        <% estamentos.forEach(estamento=> { %>
                            <option value="<%=estamento.IdTipoEstamento%>">
                                <%=estamento.DescTipoEstamento%>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                    <label class="block text-black mb-2">Tipo Usuario</label>
                    <select class="w-full p-2 border rounded" name="tipoFuncionario" required>
                        <option value="">Seleccione un tipo de usuario</option>
                        <% tipoFuncionario.forEach(tipo=> { %>
                            <option value="<%=tipo.IdTipoFuncionario%>">
                                <%=tipo.TipoPerfil%>
                            </option>
                            <% }) %>
                    </select>
                </div>
            </div>
            <!-- <div class="mb-4">
                <label for="correo" class="block text-black mb-2">Correo</label>
                <input type="email" id="correo" name="correo" class="w-full p-2 border rounded"
                    placeholder="Ingrese Username" required>
            </div>
            <div class="mb-4">
                <label for="telefono" class="block text-black mb-2">Telefono</label>
                <input type="number" id="telefono" name="telefono" class="w-full p-2 border rounded"
                    placeholder="Ingrese Numero Telefonico" required>
            </div>
            <div class="mb-4">
                <label for="direccion" class="block text-black mb-2">Direccion</label>
                <input type="text" id="direccion" name="direccion" class="w-full p-2 border rounded"
                    placeholder="Ingrese Direccion" required>
            </div> -->
            <button type="submit" class="w-full bg-green-500 text-white p-2 rounded hover:bg-green-400">Crear
                Usuario</button>
        </form>
        <div class="mt-4 text-center">
            <button id="closeModalAddUser"
                class="w-full bg-red-500 text-white p-2 rounded hover:bg-red-400">Cancelar</button>
        </div>
    </div>
</div>