<div class="flex justify-center bg-gray-300 py-2">
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Estamento">Estamentos</label>
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Unidad">Unidades Signom</label>
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Servicios">Servicios</label>
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Contratos">Contratos</label>
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Vias">Vias de Alimentacion</label>
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Perfiles">Perfiles de Funcionarios</label>
        <label class="text-lg px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded filtro-link" data-filter="Regimen">Regimen</label>
    </div>


<div id="cardGrid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5 p-6">
        <% Estamento.forEach(Estamentos => { %>
                <div class="hidden card-item Estamento flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- Estamentos.DescTipoEstamento %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>
        
            <% Unidad.forEach(Unidades => { %>
                <div class="hidden card-item Unidad flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- Unidades.DescTipoUnidad %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>

            <% servicios.forEach(servicio => { %>
                <div class="hidden card-item Servicios flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- servicio.DescTipoServicio %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>
        
            <% Via.forEach(Vias => { %>
                <div class="hidden card-item Vias flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- Vias.DescTipoVia %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>

            <% Contrato.forEach(Contratos => { %>
                <div class="hidden card-item Contratos flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- Contratos.TipoContrato %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>

            <% Regimen.forEach(Regimens => { %>
                <div class="hidden card-item Regimen flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- Regimens.DescTipoRegimen %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>
        
            <% TipoFuncionario.forEach(TipoFuncionarios => { %>
                <div class="hidden card-item Perfiles flex flex-col gap-2 bg-white rounded-lg shadow-lg p-5 cursor-pointer transition-transform duration-300 ease-in-out hover:transform hover:-translate-y-1">
                    <label class="text-gray-800 font-bold text-xl mb-2 text-center">
                        <%- TipoFuncionarios.TipoPerfil %>
                    </label>
                    <button>Editar</button>
                </div>
            <% }) %>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
    const filtroLinks = document.querySelectorAll('.filtro-link');

    filtroLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            const filter = e.target.getAttribute('data-filter');

            // Obtener todas las tarjetas
            const cards = document.querySelectorAll('.card-item');

            // Mostrar u ocultar las tarjetas según el filtro seleccionado
            cards.forEach(card => {
                if (card.classList.contains(filter)) {
                    card.classList.remove('hidden'); // Mostrar tarjeta
                } else {
                    card.classList.add('hidden'); // Ocultar tarjeta
                }
            });
        });
    });
});

</script>