<div id="addPatientModal" class="fixed inset-0 z-10 flex items-center justify-center hidden bg-gray-900 bg-opacity-50 ">
    <div class="relative w-full max-w-6xl max-h-screen p-5 overflow-y-auto bg-white rounded-lg shadow-xl">

        <!-- Título del modal -->
        <h2 id="modalNombre" class="m-4 mb-6 text-2xl font-bold text-center text-gray-800">Ingresar Paciente</h2>

        <div>
            <label class="block mt-1 font-medium text-gray-700">Rut</label>
            <input type="text" id="rut" name="rut" class="w-full p-2 my-2 border rounded" required>
            <!-- Contenedor para listar coincidencias de pacientes -->
            <div id="patientList" class="hidden p-2 my-2 bg-gray-100 border rounded"></div>
        </div>
        <!-- Contenido del modal -->
        <div id="additionalFields" class="grid hidden grid-cols-3 gap-6">
            <div>
                <label class="block mt-1 font-medium text-gray-700">Numero de Cama</label>
                <input type="number" id="cama" name="cama" class="w-full p-2 my-2 border rounded " required min="1">

                <label class="block mt-1 font-medium text-gray-700">Nombres</label>
                <input type="text" id="nombre" name="nombre" class="w-full p-2 my-2 border rounded " required>

                <label class="block mt-1 font-medium text-gray-700">Apellido Paterno</label>
                <input type="text" id="apellidop" name="apellidop" class="w-full p-2 my-2 border rounded " required>

                <label class="block mt-1 font-medium text-gray-700">Apellido Materno</label>
                <input type="text" id="apellidom" name="apellidom" class="w-full p-2 my-2 border rounded " required>

                <label class="block mt-1 font-medium text-gray-700">Fecha de Nacimiento</label>
                <input type="date" id="FechaNacimiento" name="FechaNacimiento" class="w-full p-2 my-2 border rounded "
                    required>

                <label class="block mt-1 font-medium text-gray-700">Observaciones Generales</label>
                <textarea type="text" id="observacionesgenerales" name="observacionesgenerales"
                    class="w-full h-48 p-2 my-2 border rounded " required></textarea>
            </div>

            <div>
                <label class="block mt-1 font-medium text-gray-700">Telefono</label>
                <input type="number" id="Telefonos" name="Telefonos" class="w-full p-2 my-2 border rounded " required>

                <label class="block mt-1 font-medium text-gray-700">Dirección</label>
                <input type="text" id="Direccion" name="Direccion" class="w-full p-2 my-2 border rounded " required>


                <label class="block mt-1 font-medium text-gray-700">Correo</label>
                <input type="email" id="Correo" name="Correo" class="w-full p-2 my-2 border rounded " required>

                <label class="block mt-1 font-medium text-gray-700">Observaciones Nutricionista</label>
                <textarea type="text" id="observacionesnutricionista" name="observacionesnutricionista"
                    class="w-full h-48 p-2 my-2 border rounded " required></textarea>
            </div>

            <div>
                <label for="subgrupo" class="block mt-1 font-medium text-gray-700">Tipo de Servicio</label>
                <select id="Servicio" name="Servicio" class="w-full p-2 my-2 border rounded" required>
                    <option value="" disabled selected>Seleccione</option>
                    <% servicios.forEach(servicio=> { %>
                        <option value="<%= servicio.IdTipoServicio %>">
                            <%= servicio.DescTipoServicio %>
                        </option>
                        
                        <% }) %>
                </select>

                <label for="subgrupo" class="block mt-1 font-medium text-gray-700">Tipo de Unidad</label>
                <select id="Unidad" name="Unidad" class="w-full p-2 my-2 border rounded" required>
                    <option value="" disabled selected>Seleccione</option>
                    <% unidades.forEach(unidad=> { %>
                        <option value="<%= unidad.IdTipoUnidad %>">
                            <%= unidad.DescTipoUnidad %>
                        </option>
                        <% }) %>
                </select>

                <label for="subgrupo" class="block mt-1 font-medium text-gray-700">Tipo de Via</label>
                <select id="Via" name="Via" class="w-full p-2 my-2 border rounded" required>
                    <option value="" disabled selected>Seleccione</option>
                    <% vias.forEach(via=> { %>
                        <option value="<%= via.IdTipoVia %>">
                            <%= via.DescTipoVia %>
                        </option>
                        <% }) %>
                </select>

                <label for="subgrupo" class="block mt-1 font-medium text-gray-700">Tipo de Regimen</label>
                <select id="Regimen" name="Regimen" class="w-full p-2 my-2 border rounded" required>
                    <option value="" disabled selected>Seleccione</option>
                    <% regimen.forEach(reg=> { %>
                        <option value="<%= reg.IdTipoRegimen %>">
                            <%= reg.DescTipoRegimen%>
                        </option>
                        <% }) %>
                </select>
            </div>

        </div>

        <!-- Botones -->
        <div class="flex justify-center gap-4">
            <div class="flex justify-end my-3">
                <button id="addPaciente"
                    class="px-4 py-2 bg-green-200 rounded-md shadow-sm text-white-800 hover:bg-gray-300">Ingresar
                    Paciente</button>
            </div>
            <div class="flex justify-end my-3">
                <button id="closeModalAddPatient"
                    class="px-4 py-2 bg-red-200 rounded-md shadow-sm text-white-800 hover:bg-gray-300">Cancelar
                    Ingreso</button>
            </div>
        </div>
    </div>
</div>


<script>
    let debounceTimeout;

    function formatRUTInput(inputElement) {
        inputElement.addEventListener('input', async () => {
            clearTimeout(debounceTimeout); // Limpiar el timeout anterior

            debounceTimeout = setTimeout(async () => { // Espera 300ms antes de ejecutar la búsqueda
                let rut = inputElement.value.replace(/\./g, '').replace(/-/g, '');
                const cuerpo = rut.slice(0, -1);
                const dv = rut.slice(-1);
                inputElement.value = `${cuerpo}-${dv}`;

                // Verificar si el RUT tiene al menos 4 caracteres antes de buscar coincidencias
                if (rut.length >= 4) {
                    const rutParcial = `${cuerpo}`;
                    const coincidencias = await buscarPacientesPorRutParcial(rutParcial);

                    if (coincidencias.length > 0) {
                        // Mostrar lista de coincidencias
                        mostrarCoincidencias(coincidencias);
                    } else {
                        // Si no hay coincidencias, mostrar los campos adicionales
                        document.getElementById('additionalFields').classList.remove('hidden');
                        document.getElementById('patientList').classList.add('hidden');
                    }
                }
            }, 300); // Tiempo de debounce de 300ms
        });
    }

    // Función para buscar pacientes con RUT parcial
    async function buscarPacientesPorRutParcial(rutParcial) {
        try {
            const response = await fetch(`/food-manager/patient/searc-patient/${rutParcial}`);
            if (!response.ok) throw new Error("Error al buscar pacientes");
            const pacientes = await response.json();
            return pacientes;
        } catch (error) {
            console.error("Error al buscar pacientes:", error);
            return [];
        }
    }

    // Función para mostrar la lista de coincidencias
    function mostrarCoincidencias(pacientes) {
        const patientList = document.getElementById('patientList');
        patientList.innerHTML = ''; // Limpiar la lista de coincidencias

        if (pacientes.length > 0) {
            pacientes.forEach(paciente => {
                const item = document.createElement('div');
                item.textContent = `${paciente.IdHospitalizado} -- ${paciente.NombreHospitalizado} - ${paciente.RutHospitalizado}-${paciente.DvHospitalizado}`;

                // Agregar evento de clic al div del paciente
                item.addEventListener('click', async () => {
                    const RutCompleto = `${paciente.RutHospitalizado}-${paciente.DvHospitalizado}`;
                    await enviarPeticionCreatePatient(RutCompleto);
                });

                patientList.appendChild(item);
            });
            patientList.classList.remove('hidden');
        } else {
            patientList.classList.add('hidden');
        }
    }

    // Función para enviar la petición POST
    async function enviarPeticionCreatePatient(RutCompleto) {
    const addPatientModal = document.getElementById('addPatientModal');
    try {
        const response = await fetch('/food-manager/patient/create-paciente', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ RutCompleto: RutCompleto })
        });

        if (!response.ok) throw new Error('Error al enviar la solicitud');

        const result = await response.json();
        addPatientModal.classList.add('hidden');
        // SweetAlert de éxito
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: 'Paciente creado o reingresado exitosamente',
            confirmButtonText: 'Aceptar'
        });
    } catch (error) {
        console.error('Error al crear o reingresar paciente:', error);

        // SweetAlert de error
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Hubo un error al crear o reingresar el paciente',
            confirmButtonText: 'Aceptar'
        });
    }
}

    // Inicializar la función en el input de RUT
    const rutInputElement = document.getElementById('rut');
    formatRUTInput(rutInputElement);
</script>