<div id="patientModal"
    class="fixed inset-0 z-10 flex items-center justify-center hidden overflow-auto bg-gray-900 bg-opacity-50 ">
    <div class="relative w-full max-w-6xl max-h-screen p-6 overflow-y-auto bg-white rounded-lg shadow-xl">
        <!-- Botón para cerrar el modal -->
        <button class="absolute text-gray-500 top-2 right-2 hover:text-gray-800" onclick="closeModalInfo()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <!-- Título del modal -->
        <h2 id="modalNombre" class="mb-6 text-2xl font-bold text-gray-800"></h2>
        <input type="number" id="idPaciente" name="idPaciente" hidden>
        <!-- Contenido del modal -->
        <div class="grid grid-cols-3 gap-4">
            <div>
                <div>
                    <label class="block my-2 font-medium text-gray-700">Nombres</label>
                    <input type="text" id="infoNombre" name="infoNombre" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Apellido Paterno</label>
                    <input type="text" id="InfoApellido1" name="InfoApellido1" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Apellido Materno</label>
                    <input type="text" id="infoApellido2" name="infoApellido2" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Fecha de Nacimiento</label>
                    <input type="date" id="infoFechaNacimiento" name="infoFechaNacimiento"
                        class="w-full p-2 my-2 border rounded" readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Observaciones Generales</label>
                    <textarea type="text" id="infoObservacionesGenerales" name="infoObservacionesGenerales"
                        class="w-full h-48 p-2 my-2 border rounded"></textarea>
                    <button id="changeObservacionesGenerales"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">
                        Cambiar Observaciones Generales
                    </button>
                </div>
            </div>

            <div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Fecha de Ingreso</label>
                    <input type="date" id="infoFechaIngreso" name="infoFechaIngreso"
                        class="w-full p-2 my-2 border rounded" readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Rut</label>
                    <input type="text" id="infoRut" name="infoRut" class="w-full p-2 my-2 border rounded" readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Telefono</label>
                    <input type="number" id="infoTelefonos" name="infoTelefonos" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Dirección</label>
                    <input type="text" id="infoDireccion" name="infoDireccion" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Correo</label>
                    <input type="email" id="infoCorreo" name="infoCorreo" class="w-full p-2 my-2 border rounded"
                        readonly>

                </div>
                <div>
                    <label class="block my-2 font-medium text-gray-700">Observaciones Nutricionista</label>
                    <textarea type="text" id="infoObservacionesNutricionista" name="infoObservacionesNutricionista"
                        class="w-full h-48 p-2 my-2 border rounded"></textarea>
                    <button id="changeObservacionesNutricionista"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Observaciones Nutricionista</button>
                </div>
            </div>

            <div>
                <div>
                    <label for="infoServicio" class="block my-2 font-medium text-gray-700">Tipo de Servicio</label>
                    <select id="infoServicio" name="infoServicio" class="w-full p-2 my-2 border rounded" required>
                        <option value="no-usar" disabled selected>Seleccione</option>
                        <% servicios.forEach(servicio=> { %>
                            <option value="<%= servicio.IdTipoServicio %>">
                                <%= servicio.DescTipoServicio %>
                            </option>
                            <% }) %>
                    </select>
                    <div>
                        <label class="block my-2 font-medium text-gray-700">Numero de Cama</label>
                        <input type="number" id="infoCama" name="infoCama" class="w-full p-2 my-2 border rounded">
                    </div>
                    <button id="changeServicio"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Servicio</button>
                </div>

                <div>
                    <label for="infoUnidad" class="block my-2 font-medium text-gray-700">Tipo de Unidad</label>
                    <select id="infoUnidad" name="infoUnidad" class="w-full p-2 my-2 border rounded" required>
                        <option value="no-usar" disabled selected>Seleccione</option>
                        <% unidades.forEach(unidad=> { %>
                            <option value="<%= unidad.IdTipoUnidad %>">
                                <%= unidad.DescTipoUnidad %>
                            </option>
                            <% }) %>
                    </select>
                    <button id="changeUnidad"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Unidad</button>
                </div>

                <div>
                    <label for="infoVia" class="block my-2 font-medium text-gray-700">Tipo de Via</label>
                    <select id="infoVia" name="infoVia" class="w-full p-2 my-2 border rounded" required>
                        <option value="no-usar" disabled selected>Seleccione</option>
                        <% vias.forEach(via=> { %>
                            <option value="<%= via.IdTipoVia %>">
                                <%= via.DescTipoVia %>
                            </option>
                            <% }) %>
                    </select>
                    <button id="changeVia"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Via</button>
                </div>

                <div>
                    <label for="infoRegimen" class="block my-2 font-medium text-gray-700">Tipo de Regimen</label>
                    <select id="infoRegimen" name="infoRegimen" class="w-full p-2 my-2 border rounded" required>
                        <option value="no-usar" disabled selected>Seleccione</option>
                        <% regimen.forEach(reg=> { %>
                            <option value="<%= reg.IdTipoRegimen %>">
                                <%= reg.DescTipoRegimen%>
                            </option>
                            <% }) %>
                    </select>
                    <button id="changeRegimen"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Regimen</button>
                </div>
            </div>
            <div class="hidden">
                <div>
                    <label class="block my-2 font-medium text-gray-700">Fecha de Alta</label>
                    <input type="date" id="infoFechaAlta" name="infoFechaAlta" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Nro Cama de Alta</label>
                    <input type="number" id="infoNroCama" name="infoNroCama" class="w-full p-2 my-2 border rounded"
                        readonly>
                </div>

                <div class="">
                    <label class="block my-2 font-medium text-gray-700">Servicio de Alta</label>
                    <select id="infoServicioAlta" name="infoServicioAlta" class="w-full p-2 my-2 border rounded"
                        required>
                        <option value="" disabled selected>Seleccione</option>
                        <% servicios.forEach(servicio=> { %>
                            <option value="<%= servicio.IdTipoServicio %>">
                                <%= servicio.DescTipoServicio %>
                            </option>
                            <% }) %>
                    </select>
                    <button id="changeServicioAlta"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Servicio de Alta</button>
                </div>

                <div>
                    <label class="block my-2 font-medium text-gray-700">Observaciones de Alta</label>
                    <textarea type="text" id="infoObservacionesAlta" name="infoObservacionesAlta"
                        class="w-full h-48 p-2 my-2 border rounded" readonly></textarea>
                    <button id="changeObservacionesAlta"
                        class="w-full px-4 py-2 text-gray-800 bg-blue-200 rounded-md shadow-sm hover:bg-gray-300">Cambiar
                        Observaciones de Alta</button>
                </div>
            </div>
        </div>
        <div id="logMovimientosPaciente" class="hidden p-4 mt-6 bg-gray-100 rounded-lg">
            <h3 class="mb-4 text-xl font-bold text-gray-800">Movimientos del Paciente</h3>
            <div class="overflow-y-auto timeline max-h-60">
                <!-- Aquí se mostrarán los movimientos del paciente -->
                <ul id="movimientosList" class="space-y-3">

                </ul>
            </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-center gap-4">
            <div class="flex justify-end mt-6">
                <button onclick="closeModalInfo()"
                    class="px-4 py-2 text-gray-800 bg-gray-200 rounded-md shadow-sm hover:bg-gray-300">Cerrar</button>
            </div>
            <div class="flex justify-end mt-6">
                <button onclick="toggleLogs()"
                    class="px-4 py-2 text-gray-800 bg-red-200 rounded-md shadow-sm hover:bg-gray-300">Ver Logs</button>
            </div>
            
        </div>
    </div>
</div>