<% if (1 === 1) { %>
    <h2 class="text-2xl mb-3">Menú de ropa limpia</h2>
    <%- include('../components/menus/menu_ropa_limpia') %>
<% } %>

<% if (2 === 1) { %>
    <h1>Menú de administrador</h1>
<% } %>

<% if (1 === 2) { %>
    <h2 class="text-2xl mb-3">Menú de ropa sucia</h2>
    <%- include('../components/menus/menu_ropa_sucia') %>
<% } %>
<h1 class="text-2xl text-black mt-3">Artículos</h1>
<button type="button" class="bg-yellow-500 text-black p-2 rounded hover:bg-yellow-400 mt-3" id="openModal">Crear Artículo</button>
<div id="grid" class="ag-theme-quartz h-96 w-max-screen mt-3"></div>
<%- include('../components/modals/clothes/editar_articulo_modal') %>
<%- include('../components/modals/clothes/crear_articulo_modal') %>
<%- include('../components/modals/clothes/entregar_ropa_unidad_sigcom_modal') %>
<%- include('../components/modals/clothes/recibir_ropa_limpia_lav_modal') %>
<%- include('../components/modals/clothes/dar_ropa_de_baja_modal') %>
<%- include('../components/modals/clothes/declarar_perdida_modal') %>
<%- include('../components/modals/clothes/recibir_ropa_sucia_modal') %>
<%- include('../components/modals/clothes/remesa_modal') %>
<script src="/js/crear_articulo_modal.js"></script>
<script type="module" src="/js/articulos_grid.js"></script>
<script src="/js/editar_articulo_modal.js"></script>
<script src="/js/entregar_ropa_unidad_sigcom_modal.js"></script>
<script src="/js/recibir_ropa_limpia_lav_modal.js"></script>
<script src="/js/dar_ropa_de_baja_modal.js"></script>
<script src="/js/declarar_perdida_modal.js"></script>
<script src="/js/recibir_ropa_sucia_modal.js"></script>
<script src="/js/remesa_modal.js"></script>